{{extends "./layouts/layout.jet.html"}}
{{block css()}}
<style>
    .chatbox {
        outline: 1px solid blue;
        min-height: 500px;
        padding: 0.5em;
        background-color: #EEF2FF;
    }
</style>
{{end}}



{{block body()}}

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Chat</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Chat</h3>

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control" autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="username">Message:</label>
                    <input type="text" name="message" id="message" class="form-control" autocomplete="off">
                </div>

                <input type="hidden" name="action" id="action">

                <hr>

                <div id="output" class="chatbox"></div>

            </div>
            <div class="col-md-4">
                <h3>Who's Online</h3>

                <ul id="online_users"></ul>
            </div>
        </div>
    </div>
</body>


{{end}}


{{block js()}}
<script>
    let socket = null; // declare it so we can use it on other javascript functions on the page

    // wait until the document is loaded and then connect to the websocket
    document.addEventListener("DOMContentLoaded", function () {
        socket = new WebSocket("ws://127.0.0.1:8080/ws")

        socket.onopen = () => {
            console.log("Sucessfully connected!")
        }

        socket.onclose = () => {
            console.log("Connection closed")
        }

        socket.onerror = error => {
            console.log("There was an error")
        }

        socket.onmessage = msg => {
            let data = JSON.parse(msg.data)
            console.log("Action is", data.action)

            switch (data.action) {
                case "list_users":
                    let ul = document.getElementById("online_users")
                    // every time a new user conencts, empty out the list so we can repopulate it with new updated users list
                    while (ul.firstChild) ul.removeChild(ul.firstChild)

                    // if we have any users, loop through them, create an li, populate the li with the user data, and append the li to the ul
                    if (data.connected_users.length > 0) {
                        data.connected_users.forEach(user => {
                            let li = document.createElement("li")
                            li.appendChild(document.createTextNode(user))
                            ul.appendChild(li)
                        })
                    }
                    break;
            }
        }

        let userInput = document.getElementById("username");
        userInput.addEventListener("change", function () {
            // construct an empty JSON object and populate it with information when someone fills out the username input
            let jsonData = {};
            jsonData["action"] = "username";
            jsonData["username"] = this.value
            socket.send(JSON.stringify(jsonData))
        })
    })
</script>
{{end}}